body {
	background-color: #fff;
}

.heading {
	margin: 5px;
	padding: 30px;
}

h5 {
	text-align: center;
}

#navButtons {
	margin: 40px;
}

#mainContainer {
	padding: 20px;
}

#LEFT, #CENTER, #RIGHT {
	margin: 5px;
}
